
li.nav-item {
	margin-left: 12px;
	margin-right: 12px;
}


a.nav-link {
	color:white!important;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	font-size: 20px;
}

a.nav-link:hover {
	color:lightgray!important;
}


a.active {
	color: lightgray!important;
	cursor: default;
}

nav.bg-light {
	background-color: navy !important;	
}



footer {
	width: 100%;
	height: 60px;
	background-color: navy;
	color: white;
	padding: 4px;
	text-align: center;
}

.footer-text {
	color: white;
	text-decoration: none;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
}

.footer-text:hover {
	color: lightgray;
	text-decoration: none;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
}

p.footerP {
	margin-top:12px;
}



div.home-container {
	display: flex;	
	justify-content: center;
	
}

div.home-left-column {
	float: left;
	width: 25%;
	padding: 24px;
	background-color: lightgray;
}

div.home-right-column {
	float: right;
	width: 25%;
	padding: 24px;
	background-color: lightgray;
}

div.home-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 32px;
}

img.contentImg {
	width: 80%;
	border: 14px solid navy;
	border-radius: 5px;
}

p.home-story-header {
	font-size: 28px;
	font-weight: bold;
	font-family: Helvetica, sans;
	margin:0;
	text-align: left;
}

div.home-caption {
	background-color: lightgray;
	width: 80%;
	padding: 8px;
	margin-top: 8px;
	border: 5px solid darkslategray;
	border-radius: 5px;
}

@media only screen and (max-width: 1200px) {
	div.home-right-column {
		float: none;
		width: 80%;
		order: 3;
		margin: 12px;
	}

	div.home-left-column {
		float: none;
		width: 80%;
		order: 2;
		margin: 12px;
	}

	div.home-content {
		order: 1;
	}
	
	div.home-container {
		flex-direction: column;
		align-items: center;
	}
}

div.left-menu {
	display: flex;
	width: 15%;
	height: 1000px;
	background-color: lightgray;
	border-right: 5px solid navy;
	border-bottom: 5px solid navy;
}

div.news-container {
	display: flex;
	justify-content: left;
}

div.news-content {
	display: flex;
	width: 60%;
	align-items: center;
	margin-left: 160px;
	margin-top: 100px;
	flex-direction: column;
}
img.news-image {
	width: 100%;
	display: flex;
	margin: 15px;
}
h1.news-header {
	text-align: center;
}

div.caption {
	background-color: lightgray;
	width: 60%;
	padding: 8px;
	margin-top: 8px;
	border: 5px solid darkslategray;
	border-radius: 5px;
}

div.scores-container {
	padding:48px;
	display: flex;
	justify-content: center;
}

div.scores-content {
	display: flex;
	flex-wrap: wrap;
	justify-items: baseline;
	justify-content: center;
	width: 80%;
}

@media only screen and (max-width: 1000px) {
	div.scores-content {
		width: 96%;
	}
}

div.scores-game {
	width: 280px;
	height: 160px;
	background-color: navy;
	color: white;
	display: flex;
	padding: 18px;
	flex-direction: column;
	justify-content: center;
	margin: 16px;
}

img.scores-img {
	width: 48px;
	height: 48px;
	margin-right: 8px;
	margin-top: -8px;
}

p.scores-team {
	font-weight: bolder;
	font-size: 23px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.scores-team {
	display: flex;
}

div.scores-score-options {
	color: white;
	display: flex;
	justify-content: space-evenly;
}

a.scores-score-option {
	color: white;
	text-decoration: none;
}
a.scores-score-option:hover {
	color: white;
	text-decoration: underline;
}

p.photo-credit {
	font-family: monospace;
	color: black;
	font-size: 12px;
	text-align: left;
	width:80%;
}


.navbar-toggler-icon {
	color: white !important;
	border-color: white !important;

}
.standings-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.standings-left-container {
	display: flex;
	flex-direction: column;
	width: 50%;
}
.standings-right-container {
	display: flex;
	flex-direction: column;
	width: 50%;
}
.standings-header {
	padding: 25px;
}
.standings-team-container {
	border: 2px solid black;
	margin: 3%;
}
.standings-team-container2 {
	border: 2px solid black;
	margin: 3%;
}
.standings-teams {
	display: flex;
	flex-direction: row;
}
.standings-logos {
	width: 15%;
	height: 15%;
}
.teams-text {
	margin: 1.5%;
	margin-top: 5%;
	margin-bottom: 5%;
	font-weight: bold;
	font-size: 14px;
}
.teams-plain-text {
	margin-left: -.5%;
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 14px;
}
.vl {
	border-left: 2px solid black;
	height: 75px;
}
.teams-number {
	font-size: 20px;
	margin: 1.5%;
	margin-top: 4%;
	margin-bottom: 5%;
	font-weight: bold;
}
.standings-citation {
	font-size: 8px;
	margin: 5px;
}
@media only screen and (max-width: 1000px) {
	div.scores-content {
		width: 96%;
	}
}
@media only screen and (max-width: 400px) {
	div.left-menu{
		display: none;
	}
	h1.breaking-news{
		font-size: 20px;
	}
	div.news-content {
		margin-left: 0;
		width: 80%;
		flex-direction: column;
		margin-top: 50px;
	}
	div.news-container{
		display: flex;
		justify-content: center;
	}
	.footerP2{
		font-size: 10px;
		margin: 0 20px 10px 10px;
	}
	.news-header {
		font-size: 20px;
	}
	.image-description {
		font-size: 8px;
	}
	.standings-container {
		display: flex;
		flex-direction: column;
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
	}
	}
	.teams-text {
		font-size: 14px;
	}
	.teams-plain-text {
		font-size: 14px;
	}
	.standings-left-container {
		width: 100%;
	}
	.standings-right-container {
		width: 100%;
	}
	.standings-teams {
		padding: 10px;
	}
	.standings-team-container {
		margin: unset;
	}
	.standings-team-container2 {
		border-top: unset;
		margin: unset;
	}
	.standings-header {
		text-align: center;
	}
}